body {
    margin: 0;
    font-family: Arial, sans-serif;
}


nav {
    background-color: #333333c0;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.courses-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.course {
    width: 250px;
    margin: 20px;
    text-align: center;
    border: 3px solid black;
    padding: 10px;
    border-radius:20%;
   
}

.course img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius:20%;
}
.course button{
    border-radius:20%
}

 