* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background-image: url("https://burst.shopifycdn.com/photos/a-phone-on-a-blue-background-with-contact-us.jpg?width=1000&format=pjpg&exif=0&iptc=0");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}


.navbar {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #111827;
}

.logo {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: #38bdf8;
}


.contact-section {
    width: 360px;                
    background: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

    position: absolute;
    top: 50%;
    right: 80px;                 
    transform: translateY(-50%);
    text-align: center;
}

.contact-section h1 {
    margin-bottom: 10px;
    color: #111827;
}

.contact-section p {
    margin-bottom: 25px;
    color: #6b7280;
    font-size: 14px;
}


.contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-form label {
    text-align: left;
    font-weight: bold;
    color: #374151;
    font-size: 14px;
}

.contact-form input {
    padding: 9px;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    font-size: 14px;
}

.contact-form input:focus {
    outline: none;
    border-color: #38bdf8;
}

.contact-form button {
    margin-top: 15px;
    padding: 11px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #1d4ed8;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #111827;
    color: #ffffff;
}
